input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 45px;
    cursor: pointer;
    background:rgb(255, 255, 255);
    
}

.dates{
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background:rgb(255, 255, 255);
}
.numbers{
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background:rgb(255, 255, 255);
}
.TipoTrabajo{
    border-radius: 10px;
    display: inline-block;
    padding: 10px 45px;
    cursor: pointer;
    background:rgb(255, 255, 255);
}
.background-table{
    border-radius: 10px;
    padding: 10px;
}
.text-input{
    border-radius: 5px;
    display: inline-block;
    padding: 1px 5px;
    cursor: pointer;
    background:rgb(255, 255, 255);
}
.text-input2{
    border-radius: 5px;
    display: inline-block;
    padding: 15px 45px;
    cursor: pointer;
    background:rgb(255, 255, 255);
}
.back-viv{
    border-radius: 5px;
    background:#ffff;
    display: inline-block;
    padding: 9px 17px;
    cursor: pointer;
}
.back-viv2{
    border-radius: 5px;
    background:#ffff;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}
.tittle-document{
    background-color: white;
    border-radius:10px; 
    display: inline-block;
    padding: 9px 17px;
}
.tittle{
    background-color: white;
    border-radius:10px; 
    display: inline-block;
    padding: 19px 27px;
}
.textarea{
    background-color: white;
    border-radius:10px; 
    display: inline-block;
    padding: 10px 200px;
}
